<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentalClinic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DentalClinic.styles.css" asp-append-version="true" />
   </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
   <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color:white">Dental Clinic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <ul class="navbar-nav me-auto">
      
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index" style="color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                            </svg>    
                            Home</a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white" >Sections</a>
                        <div class="dropdown-menu" style="background-color:gray; color: white;">
                            <a class="nav-link" asp-controller="Patients" asp-action="Index" style="color:white">Patients</a>
                            <a class="nav-link" asp-controller="Treatments" asp-action="Index" style="color:white">Treatments</a>
                            <a class="nav-link" asp-controller="Admins" asp-action="Index" style="color:white">Admins</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" asp-controller="Patients" asp-action="Queries" style="color:white">Ages</a>
                        </div>
                    </li>
                </ul>
    @*  <div class="collapse navbar-collapse" id="navbarColor01">
       <ul class="navbar-nav me-auto">
        <li class ="nav-link">
                             <a class="navbar-brand" href="#">Dental Clinic</a>  
         </li>           
         <li class="nav-item">
                            <button type="button" class="btn btn-primary" fdprocessedid="60pmll">Primary</button>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-controller="Patients" asp-action="Index">Patients</a>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-controller="Treatments" asp-action="Index">Treatments</a>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admins" asp-action="Index">Admins</a>
        </li>
         <li class="nav-item">
                            <a class="nav-link" asp-controller="Patients" asp-action="Queries">Ages</a>
        </li>
       
      </ul>
    </div>
   </div>*@

            <partial name="_LoginPartial" />
        
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DentalClinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
